doctype html
html
  head
    meta(charset='utf-8')
    title Test
    style.
      ins {
        background-color: #cfc;
        text-decoration: none;
      }
      del {
        color: #999;
        background-color: #FEC8C8;
      }
      .ant-input-wrapper {
        width: 100%;
      }
      .ant-select {
        width: 100%;
      }
      .ant-select-selection {
        background: none;
      }
      .ant-tabs {
        flex: 1;
      }
      body {
        background: #E9E9E9;
      }
  body(style='background: #E9E9E9;')
    #container
    script(src='./polyfill.min.js')
    script(src='./bundle.js')
